<!-- Default dropleft button -->



<nav class="navbar navbar-expand-full navbar-dark bg-dark">


   <a class="navbar-brand" href="#">
    <img src="https://uploads-ssl.webflow.com/5e153228c0703fda99fad091/5eaf775e85c94f815ab56d19_Folios%20Logo%2064.png" width="36" height="36" class="d-inline-block align-top" alt="">
    FOLIOS.AI
    </a>



  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


<div class="container">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <a class="btn btn-success" href="#" role="button">Dashboard</a>
    </ul>
  </div>
</div>







</nav>


